<h1>creating a new user page</h1>

<%= form_for @new_user, url:{:action=>"create", :controller=>"users"} do |f|%>
		<p>name</p><span style="float:left;"><%= f.text_area :name%></span>
		<p>email</p><span style="float:left;"><%= f.text_area :email%></span>
		<p> Password:</br> <%= f.password_field :password%></p>
		<span style="float:left; height:30px;"><%= f.submit "submit"%></span>
<%end%>
